name: "Example"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup BEAM"
        uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.19.x'
          otp-version: '28.x'
      
      - name: "Run Tests"
        run: |
          mix test || true
